/ - content_for :head do
/   == javascript_include_tag "angular/apps/accounts/index"
/ body ng-app="GreatHires.accounts"
/   div(ui-view)
%body
  %h2 Hello
  - @clubs.each do |club|
    .row
      .col-xs-1.color-red
        = club.name
