/ - content_for :head do
/   == javascript_include_tag "angular/apps/accounts/index"
/ body ng-app="GreatHires.accounts"
/   div(ui-view)
%body.background-light-blue
  .text-center
    %h1 Football Clubs
    - @clubs.each do |club|
      %h2
        %a.color-red{href: "clubs/#{club.id}"}
          = club.name
